- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")
.row
  .col-3
    = render :partial => "layouts/left_hand_navigation", :locals => { :links => left_hand_navigation_links }

  .col-9
    - create_paypal_link = link_to(t("paypal_accounts.create_paypal_account_link_text"),
                                   create_url, target: "_blank")
    - upgrade_paypal_link = link_to(t("paypal_accounts.upgrade_paypal_account_link_text"),
                                    upgrade_url, target: "_blank")
    - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
    = render partial: "paypal_info", locals: { create_paypal_account_link: create_paypal_link,
        upgrade_paypal_account_link: upgrade_paypal_link,
        paypal_account_linked: next_action != :ask_order_permission,
        receive_funds_info_label_tr_key: receive_funds_info_label_tr_key,
        commission_required: commission_type != :none }

    - if next_action == :ask_order_permission
      .payment-info
        .row
          .col-12
            %h2 How should we pay you?

            - content_for :javascript do
              ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}", ".js-paypal-redirect-order-permission");
            .row
              .col-12
                Tack Hunter uses Paypal to pay our sellers. Once your account is connected you'll be ready to sell!
            .row
              .col-12.payment-checklist
                %div
                  %i.icon-check
                  You'll receive your payments instantly
                %div
                  %i.icon-check
                  Your private Paypal informantion is never shared with Tack Hunter
                %div
                  %i.icon-check
                  We have the lowest commission fee in the industry (3%), and you only pay if your item sells!
                %div
                  %i.icon-check
                  You can easily issue refunds from Tack Hunter. We'll even refund the commission fee :)
          .row.send-button-wrapper
            .col-12
              %button#ask_paypal_permissions
                %i.icon-lock
                Securely connect your Paypal account
            .row.js-paypal-redirect-order-permission.hidden
              .col-12
                .paypal-redirect-message
                  = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe


    - else
      - content_for :javascript do
        ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}", ".js-paypal-redirect-change-account");
      .payment-info
        .row
          .col-12
            %h2
              Hooray, everything is set up!
            .row
              .col-12
                =t("paypal_accounts.can_receive_payments")
            .row.paypal-first-steps-list
              .col-12
                %i.icon-check
                =t("paypal_accounts.paypal_account_connected_summary", :email => paypal_account_email)
            .row.paypal-link-wrapper
              .col-12
                %a.paypal-change-link#ask_paypal_permissions
                  = t("paypal_accounts.change_account")
            .row.hidden.js-paypal-redirect-change-account
              .col-12
                .paypal-redirect-message
                  - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
                  = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe
  