- content_for :javascript do
  initialize_homepage();

- content_for :coverfade_class do
  = "without-text"
- if @selected_category
  - content_for :title, @selected_category.display_name(I18n.locale)
  - content_for :keywords, @selected_category.children.map{|c| c.display_name(I18n.locale)}.join(", ")
  - content_for :meta_description, "Find Great Deals On New And Used #{@selected_category.display_name(I18n.locale)}"
- #schema markup for homepage search in SERPS
- content_for :extra_javascript do
  :plain
    <script type="application/ld+json">
      {
         "@context": "http://schema.org",
         "@type": "WebSite",
         "url": "https://www.tackhunter.com/",
         "potentialAction": {
           "@type": "SearchAction",
           "target": "https://www.tackhunter.com/?q={search_term_string}",
           "query-input": "required name=search_term_string"
         }
      }
    </script>


- content_for :sidenav_left do

  .row
    .col-12
      %md-list
        - @main_categories.each do |category|
          - selected_category_class = (@selected_category && @selected_category.id == category.id) ? 'font-weight: 700' : ''
          - show_subcategories = show_subcategory_list(category, Maybe(@selected_category).id.to_i.or_else(nil))
          %md-list-item.layout-column{role: "listItem", style: "margin: 0; padding: 0; min-height: 36px;"}
            = link_to marketplace_category_path({category: category}), :data => {category: category.id}, class: "md-no-style md-button md-ink-ripple", style: "padding: 0; margin: 0;" do
              .md-list-item-inner{style: "font-size: 14px; margin: 0; padding: 0 24px; min-height: 36px; #{selected_category_class}"}
                = category.display_name(I18n.locale)

            - unless category.children.blank? || !show_subcategories
              %md-list.flex.layout-fill.layout-padding
                - category.children.each do |child|
                  - is_selected = @selected_category == child
                  %md-list-item.layout-column{role: "listItem", style: "margin: 0; padding: 0; min-height: 36px;"}
                    = link_to marketplace_category_path({category: child}), :data => {:"sub-category" =>child.id}, class: "md-no-style md-button md-ink-ripple", style: "padding: 0; margin: 0;" do
                      .md-list-item-inner{style: "font-size: 14px; margin: 0; padding: 0 24px; min-height: 36px;"}
                        = child.display_name(I18n.locale)                
.row
  - if @listings.total_entries > 0
    %div{class: "home-fluid-thumbnail-grid-narrow"}
      .home-fluid-thumbnail-grid{:itemscope => "", :itemtype => "https://schema.org/ItemList"}
        = render partial: "homepage/grid_item", collection: @listings, as: :listing
    .home-loading-more
      = will_paginate(@listings)
  - else
    .home-no-listings
      - if params[:q] || params[:category] || params[:share_type] # Some filter in use
        = t(".no_listings_with_your_search_criteria")
      - else
        = t(".no_listings_notification",
              add_listing_link: link_to(t(".add_listing_link_text"),
              new_listing_path(ref: "add_listing_link"))).html_safe
