- content_for :javascript do
  initialize_homepage();

- content_for :coverfade_class do
  = "without-text"

- content_for :extra_javascript do
  - # maps.google can't be loaded twice
  - maps_key = @current_community.google_maps_key
  - key_param = maps_key ? "&key=#{maps_key}" : ""
  - if(location_search_in_use && @view_type.eql?("map"))
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places#{key_param}" unless feature_enabled?(:topbar_v1)
    = javascript_include_tag "markerclusterer.js"
  - elsif(location_search_in_use)
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places#{key_param}" unless feature_enabled?(:topbar_v1)
  - elsif(@view_type.eql?("map"))
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
    = javascript_include_tag "markerclusterer.js"

- content_for :title_header do
  - if @big_cover_photo
    %h1.marketplace-lander-content-title= community_slogan.html_safe
    %p= community_description.html_safe
    .search-form
      - if @current_community.private?
        %a.inline-big-button{href: sign_up_path}
          .content
            = t("layouts.application.connect")
      - else
        - if(location_search_in_use)
          = render partial: "location_bar"
        - else
          = render partial: "search_bar"
  - else
    .browse-view-search-form
      - if(location_search_in_use)
        = render partial: "location_bar"
      - else
        = render partial: "search_bar"

- if @current_community.private? && @big_cover_photo
  - if @community_customization && @community_customization.private_community_homepage_content
    .community-customization-wrapper
      = @community_customization.private_community_homepage_content.html_safe
  - else
    = t(".this_is_private_community")

- else
  .home-toolbar
  .row
    - if @category_menu_enabled
      .col-3.visible-tablet
        - if @show_categories
          .row.home-categories-container
            .col-12
              = link_to "All Categories", search_path(params.merge({category: "all"})), :class => "home-categories-main #{if @selected_category.nil? then 'selected' end}"
              - @main_categories.each do |category|
                - show_subcategories = show_subcategory_list(category, Maybe(@selected_category).id.to_i.or_else(nil))
                = link_to category.display_name(I18n.locale), search_path(params.merge({category: category})), :class => "home-categories-main #{if show_subcategories then 'selected' end} #{if category.has_subcategories? then 'has-subcategories' end}", :data => {category: category.id}
                - if category.children
                  - if show_subcategories
                    - category.children.each do |child|
                      - is_selected = @selected_category == child
                      = link_to child.display_name(I18n.locale), search_path(params.merge({category: child})), :class => "home-categories-sub #{if is_selected then 'selected' end}", :data => {:"sub-category" =>child.id}

        #desktop-filters
          - # Filters will be relocated here when in desktop

    - main_container_class = if @category_menu_enabled then "col-9" else "col-12" end
    %div{:class => main_container_class}
      - if @listings.total_entries > 0
        - if @view_type.eql?("map")
          .home-map
            = render :partial => "map", locals: { viewport: viewport }
        - else
          - if @view_type.eql?("grid")
            %div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
              .home-fluid-thumbnail-grid
                = render partial: "grid_item", collection: @listings, as: :listing, locals: { show_distance: location_search_in_use }
          - else
            .home-listings
              - if (location_search_in_use)
                = render partial: "list_item_with_distance", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map, testimonials_in_use: testimonials_in_use, show_distance: location_search_in_use }
              - else
                = render partial: "list_item", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map, testimonials_in_use: testimonials_in_use }
          .home-loading-more
            = will_paginate(@listings)
            - item_container = if @view_type.eql?("grid") then '.home-fluid-thumbnail-grid' else '.home-listings' end
            = pageless(@listings.total_pages, item_container, request.fullpath, t('.loading_more_content'))
      - else
        .home-no-listings
          - if params[:q] || params[:category] || params[:share_type] # Some filter in use
            = t(".no_listings_with_your_search_criteria")
          - else
            = t(".no_listings_notification",
                  add_listing_link: link_to(t(".add_listing_link_text"),
                  new_listing_path(ref: "add_listing_link"))).html_safe
