- content_for :javascript do
  initialize_homepage();

- content_for :coverfade_class do
  = "without-text"
- if @category
  - content_for :title, @category.name
  - content_for :keywords, @category.children.map{|c| c.name}.join(", ")
  - content_for :meta_description, "Find Great Deals On New And Used #{@category.name}"
- #schema markup for homepage search in SERPS
- content_for :extra_javascript do
  :plain
    <script type="application/ld+json">
      {
         "@context": "http://schema.org",
         "@type": "WebSite",
         "url": "https://www.tackhunter.com/",
         "potentialAction": {
           "@type": "SearchAction",
           "target": "https://www.tackhunter.com/?q={search_term_string}",
           "query-input": "required name=search_term_string"
         }
      }
    </script>


- content_for :sidenav_left do
  .row
    .col-12
      %md-list
        .md-subheader.bg-body
          .md-subheader-content
            .md-subheader-inner
              Categories
        - @main_categories.each do |category|
          - selected_category_class = (@category && @category.id == category.id) ? 'font-weight: 700' : ''
          %md-list-item{role: "listItem", style: "margin: 0; padding: 0; min-height: 36px;"}
            .layout-column.flex
              %a.md-no-style.md-ink-ripple.md-button{href: "/#{@discipline.slug}/#{category.slug}", style: "padding: 0; margin: 0;"} 
                .md-list-item-inner{style: "font-size: 14px; margin: 0; padding: 0 24px; min-height: 36px; #{selected_category_class}"}
                  = category.name
              - if @category && (((@category.id == category.id) && !@discipline.categories.where(:parent_id => category.id).blank?) || (@category.parent_id == category.id))
                %md-list.flex.layout-fill.layout-padding
                  - @discipline.categories.where(:parent_id => category.id).each do |child|
                    - selected_subcategory_class = (@category && @category.id == child.id) ? 'font-weight: 700' : ''
                    %md-list-item{role: "listItem", style: "margin: 0; padding: 0; min-height: 36px;"}
                      %a.md-no-style.md-ink-ripple.md-button{href: "/#{@discipline.slug}/#{child.slug}", style: "padding: 0; margin: 0;"} 
                        .md-list-item-inner{style: "font-size: 14px; margin: 0; padding: 0 24px; min-height: 36px; #{selected_subcategory_class}"}
                          = child.name
      - if false
        %md-list
          .md-subheader.bg-body
            .md-subheader-content
              .md-subheader-inner
                Brands
          %md-divider
            - Brand.limit(10).in_groups_of(2).each do |brands|
              .layout-row{style: "transform: scale(0.9); -webkit-transform: scale(0.9);"}
                - brands.each do |brand|
                  %md-checkbox.flex
                    = brand.name

.row
  - if @listings.total_entries > 0
    %div{class: "home-fluid-thumbnail-grid-narrow"}
      .home-fluid-thumbnail-grid{:itemscope => "", :itemtype => "https://schema.org/ItemList"}
        = render partial: "homepage/grid_item", collection: @listings, as: :listing
    .home-loading-more
      = will_paginate(@listings)
  - else
    .home-no-listings
      - if params[:q] || params[:category] || params[:share_type] # Some filter in use
        = t(".no_listings_with_your_search_criteria")
      - else
        = t(".no_listings_notification",
              add_listing_link: link_to(t(".add_listing_link_text"),
              new_listing_path(ref: "add_listing_link"))).html_safe
