- free ||= false
#messages
  = render :partial => "conversations/message", :collection => messages, as: :message_or_action

- if role == :participant
  - content_for :javascript do
    initialize_reply_form('#{I18n.locale}');

  #reply_form.message-avatar-padding.message-reply-form
    = form_for message_form, :url => message_form_action do |f|
      = f.label :content, t("conversations.show.write_a_reply")
      = f.text_area :content, :class => "reply_form_text_area"
      - if free 
        - unless other_party[:id] == @current_user.id
          %small 
            %i.icon-warning-sign
            For your safety it is important to complete purchases directly through Tack Hunter. Be cautious of any sellers attempting to move transactions off site (unless you're picking up the item in person). If you've negotiated a special price, the buyer may easily edit the listing to a lower price. If something seems suspicicious, let us know. We're here to help 24/7: support@tackhunter.com
        - else
          %small 
            %i.icon-warning-sign
            For your safety, it is important to complete purchases directly through Tack Hunter. If you've negotiated a special price, simply click the "Change Price" link on this page to update the price.          
      = f.hidden_field :conversation_id
      = f.button t("conversations.show.send_reply")