- content_for :title_header do
  %h1 
    = link_to listing_transaction[:listing_title], listing_path(id: listing_transaction[:id])
    %small.title-subheader
      = "order ##{listing_transaction[:id]}"

.centered-section.conversation-status-form
  %h1
    Confirm order:
    = link_to listing_transaction[:listing_title], listing_path(id: listing_transaction[:id])
  %p 
    We're glad to hear that everything worked out! Confirming your order lets the seller know that you received your order and that it arrived as described. You'll also have the opportunity to leave feedback after confirming this order. If you have any questions at all, feel free to contact us at support@tackhunter.com, we're here 24/7.
  = form_for form, :url => confirmation_person_message_path(:person_id => @current_user.id, :id => listing_transaction[:id]), :html => { :method => "put" } do |form|

    = form.button "Confirm", :class => "send_button", :id => "send_testimonial_button"
