= stylesheet_link_tag "news_index"
= content_for :hero do
  .hero-navigation
    .row
      %h1
        Tack Hunter News
  .hero-feature-post
    .row
      .col-12
        = link_to @featured_news_post.title.capitalize, news_path(@featured_news_post), class: "hero-feature-title"

    .row
      .col-12
        %h2
          By
          = @featured_news_post.person.username
    .row
      .col-12
        = link_to "Read Now", news_path(@featured_news_post), class: "button"
  .hero-feature-image{style: "background-image: url('#{@featured_news_post.image(:feature)}')"}
.row.news-posts
  - @news_posts.each do |news_post|
    .col-3
      .news-card
        = link_to news_path(news_post) do
          .news-card-image{style: "background-image: url(#{news_post.image(:medium)})"}
          .news-card-title
            %h4
              = news_post.title.capitalize
            / Author
          .news-card-summary 
            %small
              = news_post.summary

          .news-card-footer
            %small
              By
              = news_post.person.username
