= stylesheet_link_tag "news_post"
- content_for :title, @news_post.title
- content_for :meta_description, @news_post.summary
%script{type: "application/ld+json"}
  :plain
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.tackhunter.com/news/#{@news_post.slug}"
      },
      "headline": "#{@news_post.title.capitalize}",
      "image": {
        "@type": "ImageObject",
        "url": "#{@news_post.image(:feature)}",
        "height": 380,
        "width":1400
      },
      "datePublished": "#{@news_post.created_at.iso8601}",
      "dateModified": "#{@news_post.updated_at.iso8601}",
      "author": {
        "@type": "Person",
        "name": "#{@news_post.person.username}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Tack Hunter",
        "logo": {
          "@type": "ImageObject",
          "url": "https://assets.tackhunter.com/logos/logo-black.png",
          "width": 181,
          "height": 40
        }
      },
      "description": "#{@news_post.summary}"
    }
- content_for :meta_image, @news_post.image(:feature)
- content_for :meta_image_height, "630"
- content_for :meta_image_width, "1200"
  
= content_for :hero do
  .layout-column.layout-padding.layout-align-end-start.layout-fill.flex-offset-gt-xs-5
    .flex.hero-title
      %h1
        = @news_post.title.capitalize
    .flex
    .flex.hero-footer
      .row
        .col-8.clearfix
          .hero-author-avatar
            .col-1
            - avatar_url = @news_post.person.image.present? ? @news_post.person.image.url(:thumb) : image_path("profile_image/thumb/missing.png")
            = image_tag avatar_url, alt: '', class: 'header-user-avatar'
            .col-4
          .hero-author-details
            %small
              %div
                %a{href: "#"}
                  = @news_post.person.username
              %div
                Published on 
                = @news_post.created_at.strftime('%B %e at %l:%M %p')
        .col-4.visible-tablet
          .clearfix.hero-social-links
            %a.icon-twitter
            %a.icon-facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", target: "_blank"}
  .hero-feature-image{style: "background-image: url('#{@news_post.image(:feature)}')"}


.news-post-content
  = render "/news/articles/#{@news_post.partial}"
