= stylesheet_link_tag "news_post"
= content_for :hero do
  .hero-feature-image{style: "background-image: url('https://s3.amazonaws.com/assets.tackhunter.com/logos/images/communities/cover_photos/26619/hd_header/AdobeStock_90047375.jpeg')"}
  .hero-footer
    .row
      .col-8
        %h1.hero-footer-title
          = @post.title.capitalize
        .hero-published-on
          %small
            By
            %a{href: "#"}
              Kate Stewart
            Published on 
            = @post.created_at.strftime('%B %e at %l:%M %p')
      .col-4.visible-tablet
        .clearfix.hero-social-links
          %a.icon-twitter
          %a.icon-facebook

.row.news-post  
  .col-12
    .news-post-content
      = render "/news/articles/#{@post.partial}"
