= stylesheet_link_tag "news_post"
= content_for :hero do
  .hero-feature-image{style: "background-image: url('https://s3.amazonaws.com/assets.tackhunter.com/logos/images/communities/cover_photos/26619/hd_header/AdobeStock_90047375.jpeg')"}
  .hero-footer
    .row
      .hero-footer-title.clearfix
        %h1
          Sunshirt Showdown  
        .clearfix.hero-social-links
          %a.icon-twitter
          %a.icon-facebook
      .hero-meta-header.clearfix
        .hero-published-on
          %small
            By
            %a{href: "#"}
              Kate Stewart
            Published on 
            = @post.created_at.strftime('%B %e at %l:%M %p')


.row.news-post  
  .col-12
    .news-post-content
      = render "/news/articles/#{@post.partial}"
