= render :partial => "conversations/conversation_header", locals: {other_party: conversation_other_party}
.layout-gt-xs-row.layout-col
  .flex
    = render :partial => "conversations/messages_and_form", locals: {role: role, message_form: message_form, message_form_action: message_form_action, messages: messages, other_party: conversation_other_party, listing: listing}

  .flex-gt-md-25.flex-sm-50
    - unless listing[:author_id] == @current_user.id
      %md-card.md-default-theme{style: "background: #fff;"}
        %md-card-header
          %md-card-header-text
            = link_to_unless listing[:deleted], listing[:title], listing_path(id: listing[:id]), :class => "md-title"
        %img.md-card-image{:alt => "#{listing[:title]}", "src" => "#{listing_image_big}"}/
        %md-card-title
          %md-card-title-text
            = link_to edit_listing_path({id: listing[:id]}) do
              %span.md-headline
                = Money.new(listing[:price_cents], "USD").format
        %md-card-content
          %p
            = truncate(listing[:description], length: 100)
        %md-card-actions.layout-align-start-stretch.layout-column
          = link_to new_transaction_path({listing_id: listing[:id]}), class: "md-button", style: "background: #00a26c; color: #fff" do
            %i.icon-lock
            Complete Purchase

    - else
      %md-card.md-default-theme{style: "background: #fff;"}
        %md-card-header
          %md-card-header-text
            = link_to_unless listing[:deleted], listing[:title], listing_path(id: listing[:id]), :class => "md-title"
        %img.md-card-image{:alt => "#{listing[:title]}", "src" => "#{listing_image_big}"}/
        %md-card-title
          %md-card-title-text
            = link_to edit_listing_path({id: listing[:id]}) do
              %span.md-headline
                = Money.new(listing[:price_cents], "USD").format
              %span.md-title{style: "color: #0000EE"}
                change price
        %md-card-content
          %p
            = truncate(listing[:description], length: 100)
        
