.col-3.post-card
  = link_to buttercms_post_path(post.slug), title: post.title do
    = image_tag(post.featured_image)
    .summary
      %h4
        = post.title
      %small
        = post.summary
  .categories
    %p
      - post.categories.each do |category|
        = link_to category.name, buttercms_category_path(category.slug), :title => category.name
