= content_for :html_title, @post.seo_title
= content_for :meta_description, @post.meta_description

- content_for :title_header do 
  %h1
    = @post.title
%small
  Categories:
  - @post.categories.each do |category| 
    = link_to category.name, buttercms_category_path(category.slug), :title => category.name
%small
  Published on:
  = @post.published.to_date

%p
  = @post.body.html_safe

- if @next_post
  = link_to @next_post.title, buttercms_post_path(@next_post.slug), :title => @next_post.title 
