%footer
  .row
    .col-3.visible-tablet
      .header-left.header-logo-container
        = link_to search_path, :id => "header-logo" do
          %i.header-wide-logo.visible-tablet
            -# Logo is here, it's a CSS backgroun

    .col-3
      %h4
        Seller FAQs
      %ul
        %li
          %a
            Why Sell On Tack Hunter?
        %li
          %a
            Payment & Fees
        %li
          %a
            Shipping
    .col-3
      %h4
        About
      %ul
        %li
          %a
            How it works
        %li
          = link_to "Privacy Policy", privacy_about_path
        %li
          = link_to "Terms of Service", terms_about_path
    .col-3
      %h4
        Contact
      %ul
        %li
          = link_to "Feedback", new_user_feedback_path, rel: "nofollow"
        %li
          %a{href: "mailto:support@tackhunter.com", rel: "nofollow"}
            Email Us
        %li
          %a
            - if @current_user && @current_community && @current_user.has_admin_rights?
              = link_to "Admin", admin_details_edit_path


                        

    .col-3