-# Hide header in map view if mobile
%header
  %md-toolbar
    .md-toolbar-tools.flex.layout-row
      .flex-25.hide-sm.hide-xs.layout-row.layout-align-start-center
        = link_to search_path do
          %i.header-wide-logo
      .flex.hide-gt-sm.layout-row
        %md-button.md-icon-button.md-button.md-ink-ripple{"ng-click": "toggleLeftNav()"}
          %i.icon-align-justify
        .flex-50
          = link_to search_path do
            %i.header-square-logo
      %form.flex.layout-align-center-center.layout-row.hide-sm.hide-xs{method: "get", action: "/", id: "homepage-filters"}
        %md-input-container.md-icon-right.flex-75.md-accent.layout-fill.md-input-has-placeholder{"md-no-float": "", style: "height: 36px; "}
          %input.md-icon-right.md-input.flex#q{name: "q", placeholder: "Search for tack", style: "padding: 4px 10px; height: 36px;", value: "#{params[:q]}"}
          %md-icon
            %i.icon-search
      .flex-25.layout-row.layout-align-center-center
        = link_to "Sell", new_listing_path, :class => "md-button hide-xs", :id => "new-listing-link"
        = link_to "News", news_index_path, :class => "md-button hide-xs"  
        - if logged_in
          = render :partial => "layouts/header_right_visible_tablet", locals: {unread_count: unread_count, inbox_path: inbox_path, icons: icons}
          = render :partial => "layouts/header_anchors", locals: {avatar_url: avatar_url, current_user_name: current_user_name, icons: icons}
          = render :partial => "layouts/header_user_menu", locals: {unread_count: unread_count, inbox_path: inbox_path, profile_path: profile_path, manage_listings_path: manage_listings_path, settings_path: settings_path, logout_path: logout_path, icons: icons}

        - unless logged_in
          = link_to login_path, class: "header-text-link header-hover md-button", id: "header-login-link" do
            = t("header.login")

