-#
  Listing image for grid

  Includes:
  - Listing image

= link_to(listing_path(listing.url), :'itemprop' => "url",:class => "#{modifier_class} fluid-thumbnail-grid-image-item-link") do
  .fluid-thumbnail-grid-image-image-container
    - with_first_listing_image(listing) do |first_image_url|
      = image_tag first_image_url, {:alt => listed_listing_title(listing), :'itemprop' => "image", :class => "fluid-thumbnail-grid-image-image"}

  %h4.fluid-thumbnail-grid-listing-title{:itemprop => "name"}
    = listing.title

  .fluid-thumbnail-grid-image-price-container{:itemprop => "offers" :itemscope => "" :itemtype => "http://schema.org/Offer"}
    - if listing.price
      %span.fluid-thumbnail-grid-image-price{:itemprop => "price" :content => "#{listing.price}"}
        = humanized_money_with_symbol(listing.price).upcase
        - price_unit = price_quantity_slash_unit(listing)
      - if !price_unit.blank?
        - price_text = " " + price_unit
        %span.fluid-thumbnail-grid-image-quantity{:title => price_text}
          = price_text
    - else
      %span.fluid-thumbnail-grid-image-type{:class => "#{modifier_class}"}
        = shape_name(listing)
