= render :partial => 'layouts/head'

%body

  -# Render railsContext here before any react component gets rendered
  = prepend_render_rails_context("")

  %noscript
    .noscript-padding
      -# Noscript content will be positioned here

  - if display_onboarding_topbar?
    - props = onboarding_topbar_props
    - unless props[:next_step] == :all_done
      - react_component_cache(name: "onboarding_topbar", props: props) do
        = react_component("OnboardingTopBar", props: props, prerender: true)

  = render partial: 'layouts/global_header', locals: header_props()

  - if display_expiration_notice?
    = render partial: "layouts/expiration_notice",
        :locals => {external_plan_service_login_url: admin_plan_path}

  
  - if params[:controller] == "homepage" && params[:action] == "index"
    %section.marketplace-lander.hidden-tablet
      .coverimage
        %figure.marketplace-cover-small.fluidratio
        .coverimage-fade{:class => yield(:coverfade_class)}
          %figure.marketplace-cover-small-fade.fluidratio
      .title-container
        .title-header-wrapper
          .marketplace-title-header
            = yield :title_header
  - else
    %section.marketplace-lander.visible-tablet
      .coverimage
        %figure.marketplace-cover-small.fluidratio
        .coverimage-fade{:class => yield(:coverfade_class)}
          %figure.marketplace-cover-small-fade.fluidratio
      .title-container
        .title-header-wrapper
          .marketplace-title-header
            = yield :title_header

  %article.page-content
    .wrapper
      = render :partial => "layouts/notifications"
      = yield

  
  -# Most of the JavaScript should be for performance reasons at the end of the body

  -# load Facebook SDK for the whole page
  = render :partial => "layouts/facebook_sdk"

  -# Initialize global I18n variable and load translations there
  :javascript
    window.I18n = {};

  = javascript_include_tag "i18n/#{I18n.locale}"

  = javascript_include_tag 'application'

  :javascript
    window.ST.jsonTranslations = #{JSONTranslations.get(I18n.locale)}

  - if @analytics_event
    :javascript
      report_analytics_event.apply(null, #{@analytics_event});
  - if @gtm_datalayer
    :javascript
      if(window.ST != null && typeof window.ST.gtmPush === 'function') {
        window.ST.gtmPush(#{@gtm_datalayer.to_json});
      }

  :javascript
    $(function() {
      if ('touchAction' in document.body.style) {
        document.body.style.touchAction = 'manipulation';
      } else {
        window.FastClick.attach(document.body, { excludeNode: '^pac-'} );
      }
    });

  -# Disable animations on tests
  - if Rails.env.test?
    :javascript
      $(function() {
        $.transit.enabled = false;
      });

  = content_for :extra_javascript

  :javascript
    $(document).ready(function() { initialize_defaults("#{I18n.locale}"); #{yield :javascript} });

  = render :partial => "layouts/noscript"
= render partial: "layouts/footer"


